/*
* @Author: Xiao
* @Date:   2018-12-25 15:45:42
* @Last Modified by:   Xiao
* @Last Modified time: 2018-12-28 10:00:12
*/
.nav-simple {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo {
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}